:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-white: oklch(1 0 0);
	--color-text: oklch(0.1913 0 0);
	--color-bg: oklch(0.9401 0 0);
	--color-surface: oklch(0.9702 0 0);
	--color-accent-1: oklch(0.6345 0.1834 39.43);
	--color-unaccent-1: oklch(0.6167 0 0);
	--color-shadow-1: oklch(0.8172 0 0);
	--color-shadow-2: oklch(0.7476 0 0);
	--color-shadow-3: oklch(0.9911 0 0);

	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;

	--size-xs: 1rem;
	--size-sm: 1.5rem;
	--size-md: 2rem;
	--size-lg: 3rem;
	--size-xl: 4rem;

	--border-xs: 1px;
	--border-sm: 2px;
	--border-md: 4px;

	--radius-sm: 2px;
	--radius-md: 6px;
	--radius-lg: 16px;
	--radius-full: 50%;

	--font-sm: 0.875rem;
	--font-md: 1rem;
	--font-lg: 1.25rem;
}

body {
	margin: 0;
	padding: var(--space-sm);
	box-sizing: border-box;
	height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-text);
}

input,
button {
	appearance: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	padding: 0;
}
