:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-white: oklch(1 0 0);
	--color-dark: oklch(0.1913 0 0);
	--color-bg: oklch(0.9401 0 0);
	--color-surface: oklch(0.9702 0 0);
	--color-accent-1: oklch(0.6345 0.1834 39.43);
	--color-unaccent-1: oklch(0.5795 0 0);
	--color-unaccent-2: oklch(0.7826 0 0);
	--color-shadow-1: oklch(0.8172 0 0);
	--color-shadow-2: oklch(0.7476 0 0);
	--color-shadow-3: oklch(0.9911 0 0);

	--space-2: 0.125rem;
	--space-4: 0.25rem;
	--space-8: 0.5rem;
	--space-16: 1rem;
	--space-32: 2rem;

	--size-4: 0.25rem;
	--size-8: 0.5rem;
	--size-10: 0.625rem;
	--size-16: 1rem;
	--size-20: 1.25rem;
	--size-24: 1.5rem;
	--size-32: 2rem;
	--size-48: 3rem;
	--size-64: 4rem;
	--size-40: 2.5rem;
	--size-60: 3.75rem;
	--size-80: 5rem;
	--size-100: 6.25rem;
	--size-120: 7.5rem;
	--size-150: 9.375rem;
	--size-200: 12.5rem;

	--scrollbar-size: 6px;

	--border-1: 1px;
	--border-2: 2px;
	--border-4: 4px;

	--radius-4: 4px;
	--radius-8: 8px;
	--radius-16: 16px;
	--radius-full: 50%;

	--font-14: 0.875rem;
	--font-16: 1rem;
	--font-20: 1.25rem;
}

html,
body {
	overflow: clip;
}

body {
	margin: 0;
	padding: var(--space-8);
	box-sizing: border-box;
	height: 100vh;
	background:
		url('../static/background.svg'),
		linear-gradient(to bottom right, var(--color-bg), oklch(from var(--color-bg) l c h / 0.4));
	color: var(--color-dark);
}

input,
button {
	appearance: none;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	padding: 0;
}

*:focus-visible {
	outline: var(--border-2) solid var(--color-accent-1);
}
